		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background:  !important;
		}
	
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: navy !important;
			color: #EAB60A !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		

		
		.centered {
  display: flex;
  align-items: center;is
  justify-content: center;
}
img.displayed {

	display: block;
	margin-left: 550px;
	margin-right: auto;		
}
